body{
  padding:0;
  margin:0;
}

#demo{
  
  background:url("bubble .png");
}

#demo1{
  color: orange;
  font-size: 50px;
}
.enzo{
  border-radius: 1000px;
}

#demo2{
  font-size:30px;
  text-align: center;
  padding:20px;
  margin:10px;
  border-radius:20px;
}
#demo3{
  font-size:60px;
  text-align: center;
   color: green;
}
.enzo1{
  border-radius:30px;
}
.enzo2{
  border-radius:30px;
  
}
.enzo3{
 border-radius:30px;
}
.img{
  display:flex;
  font-size:30px;
 border-radius:50px;
justify-content: space-evenly
}
#list{
  color: red;
  text-align: center;
}